In [1]:
cd /content/drive/MyDrive/ColabNotebooks/ML/natural-gas/

/content/drive/MyDrive/ColabNotebooks/ML/natural-gas

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df = pd.read_csv("nasdaq_.csv")

In [ ]:
df["Date"] = pd.to_datetime(df["Date"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5953 entries, 0 to 5952
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     5953 non-null   datetime64[ns]
 1   Price    5952 non-null   float64
 2   Months   5953 non-null   int64
 3   Seasons  5953 non-null   int64
dtypes: datetime64[ns](1), float64(1), int64(2)
memory usage: 186.2 KB

In [ ]:
df = df.set_index("Date")
df.head()

            Price  Months  Seasons
Date
1997-01-07   3.82       1        4
1997-01-08   3.80       1        4
1997-01-09   3.61       1        4
1997-01-10   3.92       1        4
1997-01-13   4.00       1        4

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5953 entries, 1997-01-07 to 2020-09-01
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Price    5952 non-null   float64
 1   Months   5953 non-null   int64
 2   Seasons  5953 non-null   int64
dtypes: float64(1), int64(2)
memory usage: 186.0 KB

In [ ]:
df[df.index.month == 1]

            Price  Months  Seasons
Date
1997-01-07   3.82       1        4
1997-01-08   3.80       1        4
1997-01-09   3.61       1        4
1997-01-10   3.92       1        4
1997-01-13   4.00       1        4
...           ...     ...      ...
2020-01-27   2.03       1        4
2020-01-28   1.96       1        4
2020-01-29   1.93       1        4
2020-01-30   1.94       1        4
2020-01-31   1.91       1        4

[488 rows x 3 columns]

In [ ]:
new_df = pd.DataFrame()

for i in range(1997, 2020+1):
    year_data = df[df.index.year == i]
    for j in range(1, 13):
        monthly_data = year_data[year_data.index.month == j]
        if not monthly_data.empty:
            new_df = new_df.append(monthly_data[monthly_data.Price == max(monthly_data.Price)])

new_df = new_df.drop_duplicates()

In [ ]:
new_df

            Price  Months  Seasons
Date
1997-01-16   4.71       1        4
1997-02-05   2.65       2        4
1997-03-17   2.01       3        1
1997-04-23   2.22       4        1
1997-05-07   2.34       5        1
...           ...     ...      ...
2020-05-05   1.93       5        1
2020-06-03   1.84       6        2
2020-07-09   1.88       7        2
2020-08-24   2.57       8        2
2020-09-01   2.22       9        3

[283 rows x 3 columns]

In [ ]:
new_df.to_csv("trimmed_data.csv")